---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Prometheuzdy.cloud status</title>
	</head>
	<style>
		body {
			background-color: #e8e8e8;
		}

		* {
			box-sizing: border-box;
			margin: 0;
			padding: 0;
			font-family: roboto, sans-serif;
		}

		.masthead {
			background-color: #90999a;
			padding: 4rem;
			margin: 0;
			
		}

		.masthead h1{
			font-size: 2.5rem;
			color: #fff;

		}

		
	</style>

	<body>
		<div class="masthead">
			<h1>Prometheuzdy Cloud</h1>
		</div>

		<div class="container">
			
			

		</div>
	</body>
</html>
